<section class="first_section">
<div class="container-fluid">
	<div class="row">	
    	<div class="col-sm-12">	
 		</div>		
    </div>
</div>
</section>
<section class="second_section">
<div class="container-fluid">
	<div class="row">
    	<div class="hidden-xs col-sm-4 col-sm-offset-2">
    		<%=image_tag 'sec_figure.png', style:'height: 450px;', class: 'center-block'%>
 		</div>		
    	<div class="col-sm-4" style="padding-left: 20px;">
    		<div style="position: relative; top: 100px;" class='sec_figure'>
	    		<div style="max-width: 400px; margin-top: 70px; font-size: 30px; letter-spacing: 1.9px;">輝葉<span style="font-size: 45px;">30</span>始終關心您的健康</div>
	    		<div style="max-width: 400px; padding-bottom: 5px;font-size: 16px; letter-spacing: 4px; border-bottom: 1px solid;">一直以來，我們堅持用時間細磨出高端品質</div>
	    		<div style="width: 400px; margin-top: 10px; font-size: 13px; letter-spacing: 4px; line-height: 24px;" class="hidden-xs">
	    		自民國72年創立以來，即以「 帶給人們更健康的生活 」為目標，不斷精進服務品質與技術，有別於一般健康器材品牌，採全直營方式銷與消費者做最直接的互動，聆聽每位客戶最深層的需求。期盼給您最親切專業的服務體驗，並與您一同邁向健康的人生！
	 			</div>
 			</div>
 		</div>
    </div>
</div>
</section>
<section class="third_section">
<div class="container-fluid">
	<div class="row" style="margin-top: 100px;">		
    	<div class="col-sm-2 col-sm-offset-2">
    		<%=image_tag 'third_slogan.png', style:'height: 60px;', class: 'third_slogan'%>
    		<div class="third_slogan_text" style="width: 340px; color:#774718; font-size: 32px; font-weight: bold; letter-spacing: 3px;">智能穴位按摩技術<span style="font-weight: normal">＞</span></div>
    		<div style="margin-top: 30px;" >        					
    			<div class="third_descrip third_1_d" style="width: 250px; position: relative; right: -80px;">
    			<div class="third_descrip_title">人性化穴位感應系統</div>
    			<div class="third_descrip_cont">利用光學感應器，可準確探測身體的各大按摩穴位，其中獨特的自動檢測及微調功能，更能自動感應、依您的身體S曲線做個人化調整。</div>    			
    			</div>
			</div>    		  		
    		<%=image_tag 'third_back.png', style:'height: 250px; margin-top: 30px; margin-left: 50px;', class: 'third_back hidden-xs '%> 		
 		</div>	
    	<div class="col-sm-3">
    		<%=image_tag 'third_chair.png', style:'height: 450px; margin-top: 60px; position: absolute;', class: 'hidden-xs third_chair'%>
 		</div> 			 
    	<div class="col-sm-5">
    		<div style="margin-top: 30px;">
    			<div class="third_descrip third_2_d" style="display: inline-block; width: 250px; position: relative; right: -90px;">
    			<div class="third_descrip_title">創新提抓技術</div>
    			<div class="third_descrip_cont">獨特按摩手法的關鍵在於：針對肩頸，先往前拉提，再向下推壓；不同於一般按摩椅，智尊椅獨有的下壓勁道更使得真人提抓按摩的舒暢感得以重現，讓您在家就能夠享受大師級的按摩手法與技術。</div>    			
    			</div>  
    		</div>
    		<div style="margin-top: 30px;">
    			<div class="third_descrip third_3_d" style="display: inline-block; width: 300px; position: relative; right: -50px;">
    			<div class="third_descrip_title">背部按摩範圍+20%</div>
    			<div class="third_descrip_cont">可全面覆蓋人體背部，從肩頸、胸椎到腰椎，比傳統的背部按摩範圍增加20%以上，可滿足各類體型的人士使用，讓您充分享受專屬於您的按摩理療程式。</div>    			
    			</div>
    		</div>	    
    		<div style="margin-top: 30px;">  		    		
    		<%=image_tag 'third_1.png', style:' position: absolute; height: 100px;', class: 'third_1 hidden-xs'%>	
     		<%=image_tag 'third_2.png', style:' position: absolute; height: 100px; left: 130px;', class: 'third_2 hidden-xs'%>
     		<%=image_tag 'third_3.png', style:' position: absolute; height: 100px; left: 246px;', class: 'third_3 hidden-xs'%>	
     		</div>    		   		
 		</div> 	 				
    </div>
</div>
</section>
<section class="third_2_section">
<div class="container-fluid">
	<div class="row">
    	<div class="col-sm-2 col-sm-offset-2">
    		<%=image_tag 'third_2_slogan.png', style:'visibility: hidden; height: 60px;', class: 'third_2_slogan'%>
    		<div class="third_2_slogan_text" style="visibility: hidden; width: 360px; color:#774718; font-size: 32px; font-weight: bold; letter-spacing: 3px;">360°全包覆足底按摩<span style="font-weight: normal">＞</span></div>    			
    		<div class="third_descrip third_2_1_d" style="visibility: hidden; display: inline-block; width: 250px; position: relative; right: -70px; top: 40px;">
    			<div class="third_descrip_cont">以真人手感結合先進滾輪技術，提供專業按摩師般的刮痧按摩方式，對足底湧泉穴進行按摩，無論是輕柔穩定或是漸進是強力按摩，都能帶來前所未有的舒適和暢快。並針對腿部採氣囊加強，形狀各異的氣囊完整包覆小腿、腳踝及足部，對足三里穴、太溪穴、崑崙進行按摩、壓緊、停頓、放鬆的交互氣壓動做按摩方式，讓您到通體順暢，天人合一的境界。</div>    			
    		</div> 			
 		</div>		
    	<div class="col-sm-3" style="">
 		</div> 		
    	<div class="col-sm-4" style="">
    		<div><%=image_tag 'third_2_circle.png', style:'margin-left:90px; margin-top: 40px; visibility: hidden; height: 220px;', class: 'third_2_circle hidden-xs '%></div>
    		<div class="third_2_feet" style="margin-top: 60px; margin-left: 0px;visibility: hidden;">
    		<%=image_tag 'third_2_feet_1.png', style:'position: absolute; height: 160px;', class: 'hidden-xs '%>
    		<%=image_tag 'third_2_feet_2.png', style:'position: absolute; height: 160px; left: 180px;', class: 'hidden-xs '%>
			</div>
 		</div>
    </div>
</div>
</section>
<section class="third_3_section">
<div class="container-fluid">
	<div class="row third_3_r1" style="height: 500px; visibility: hidden;">
    	<div class="col-sm-3 col-sm-offset-2">
    		<div style="width: 340px; color:#774718; font-size: 32px; font-weight: bold; letter-spacing: 3px;">全新氣囊按壓技術<br>全身氣壓徹底包覆</div>    		    		
    		<%=image_tag 'third_3_upper.png', style:'width: 80%', class: ''%> 
    		<%=image_tag 'third_3_c1.png', style:'position: absolute; top: 250px; right: 60px;', class: ''%> 		
    		<%=image_tag 'third_3_c2.png', style:'position: absolute; top: 150px; right: 0px;', class: ''%> 		
    		<%=image_tag 'third_3_c3.png', style:'position: absolute; top: 0px; right: -150px;', class: ''%>     				
 		</div>			
    	<div class="col-sm-4 col-sm-offset-3" style="">
    		<%=image_tag 'third_3_c4.png', style:'position: absolute; top: 0px; left: 60px;', class: ''%> 		
    		<%=image_tag 'third_3_c5.png', style:'position: absolute; top: 140px; left: 120px;', class: ''%> 		
    		<%=image_tag 'third_3_c6.png', style:'position: absolute; top: 260px; left: 80px;', class: ''%> 		 		
 		</div> 	 		
    </div>
	<div class="row third_3_r2 hidden-xs" style="visibility: hidden;">    
        <div class="col-sm-3 col-sm-offset-2" style="">
    		<%=image_tag 'third_3_text.png', style:'', class: ''%> 		        	
 		</div>		 
    </div>    
	<div class="row  third_3_r3 hidden-xs " style="visibility: hidden;">    
        <div class="col-sm-4 col-sm-offset-2" style="">
    		<%=image_tag 'third_3_circle.png', style:'width: 90%', class: ''%> 		        	
 		</div>
         <div class="col-sm-3 col-sm-offset-1" style="">
    		<%=image_tag 'third_3_star.png', style:'width: 100%', class: 'center-block'%> 		        	         	
 		</div> 		 
    </div> 			
</div>
</section>
<section class="forth_section">
<div class="container-fluid">
	<div class="row" style="margin-top: 130px;">		
    	<div class="col-sm-2 col-sm-offset-1">
    		<%=image_tag 'forth_1.png', style:'visibility: hidden; height: 300px;', class: 'forth_1'%> 	 		
    		<%=image_tag 'forth_2.png', style:'visibility: hidden; height: 300px; margin-top: 30px; margin-left: 60px;', class: 'forth_2 hidden-xs hidden-sm '%> 	
 		</div>
    	<div class="col-sm-5">    		
    		<div class="center-block hidden-xs hidden-sm " style="width: 550px; letter-spacing: 4px; color:#ffffff; font-size: 25px; line-height: 30px; text-align: center;">從頭頂至腳底，<br>充分滿足你對按摩的美好想像</div>
    		<%=image_tag 'forth_circle.png', style:'height: 400px;', class: 'center-block hidden-xs hidden-sm '%> 
    		<div class="center-block">	
    		<%=image_tag 'forth_3.png', style:'visibility: hidden; height: 250px; margin-left: 20px;', class: 'forth_3'%> 
    		<%=image_tag 'forth_4.png', style:'z-index: 1; visibility: hidden; height: 250px;', class: 'pull-right forth_4 hidden-xs hidden-sm '%>    	
    		</div>	    		 		
 		</div>
    	<div class="col-sm-2">
    		<div><%=image_tag 'forth_6.png', style:'z-index: -1; visibility: hidden; height: 310px;', class: 'pull-right forth_5'%></div>    		
    		<div><%=image_tag 'forth_5.png', style:'z-index: -1; visibility: hidden; height: 250px; margin-top: 35px; margin-right: 45px;', class: 'pull-right forth_6 hidden-xs hidden-sm '%></div> 
 		</div> 		 		
    </div>
</div>
</section>
<section class="fifth_section">
<div class="container-fluid">
	<div class="row" style="margin-top: 150px;">		
    	<div class="col-sm-9 col-sm-offset-1 hidden-sm hidden-xs " style="background: #f7f2e9; border-radius: 25px; padding: 10px;">    	
     		<%=image_tag 'fifth_circle.png', style:'visibility: hidden;', class: 'center-block fifth_circle'%> 	
 		</div>
    </div>
	<div class="row">		
    	<div class="col-sm-3 col-sm-offset-3 hidden-xs hidden-sm" style="margin-top: 15px;">    
    		<div style="width: 400px; color:#774718; font-size: 36px; font-weight: bold; letter-spacing: 3px;">智尊專屬APP<span style="font-weight: normal">＞</span></div>    			
 		</div>
    </div> 
	<div class="row" style="">		
    	<div class="col-sm-1 col-sm-offset-1">    	
     		<%=image_tag 'fifth_chair.png', style:'position: relative; z-index:1; right: -130px; width: 400px;', class: 'fifth_chair hidden-xs hidden-sm'%> 		
 		</div>		
    	<div class="col-sm-8">    	
     		<%=image_tag 'fifth_living.png', style:'position: relative; z-index:0; margin-top: 20px; width: 700px;', class: 'center-block hidden-xs hidden-sm hidden-md'%> 	
 		</div>
    	<div class="col-sm-1">    	
     		<%=image_tag 'iphone.png', style:'position: relative; left: -350px; top: -50px;', class: 'hidden-xs hidden-sm'%> 	
 		</div> 		
    </div>  
	<div class="row">		
    	<div class="col-sm-4 col-sm-offset-6" style="">    
    		<div style='position: absolute; top:-100px; left: 50px; width: 180px;'>
    		<%=image_tag 'fifth_1_inner.svg', style: 'min-width: 150px; position: absolute; left: 15px; top: 15px;'%> 
    		<%=image_tag 'fifth_2_outter.svg', style: 'visibility: hidden; min-width: 180px;', class: 'fifth_2_outter'%>    
    		</div>
    		<div style='position: absolute; top:-100px; left: 300px; width: 180px;'>  		   		
    		<%=image_tag 'fifth_2_inner.svg', style: 'min-width: 150px; position: absolute; left: 15px; top: 15px;'%>
    		<%=image_tag 'fifth_2_outter.svg', style: 'visibility: hidden; min-width: 180px;', class: 'fifth_2_outter'%>    		
 			</div>
 		</div>
    </div>         
</div>
</section>
<section class="sixth_section">
<div class="container-fluid">
	<div class="row" style="margin-top: 130px;">		
    	<div class="col-sm-offset-2 col-sm-10">  
    	<div style="color: #ffffff; font-size: 40px;">智慧首席 尊榮體驗</div>  	    		
 		</div>
    </div>
	<div class="row">		
    	<div class="col-sm-offset-2 col-sm-1">    
       		<div style="width: 150px; position: relative;" class="sixth_1 hidden-xs hidden-sm">
       			<div class="sixth_slogan_s">超纖皮革 極佳觸感</div><br>
       			<%=image_tag 'sixth_1.png', style:'', class: ''%>
       		</div> 	
		</div>       		
    	<div class="col-sm-2">        		
       		<div style="width: 150px; position: relative;" class="sixth_2 center-block hidden-xs hidden-sm">
       			<div class="sixth_slogan_s">流線外型 時尚出色</div><br>       		    		  	    		
       			<%=image_tag 'sixth_2.png', style:'', class: ''%> 	  
       		</div> 	 
		</div>       		      
       	<div class="col-sm-2"> 			
       		<div style="width: 150px; position: relative;" class="sixth_3 hidden-xs hidden-sm">
       			<div class="sixth_slogan_s">負氧離子 清淨健康</div><br>      		
       			<%=image_tag 'sixth_3.png', style:'', class: ''%> 
       		</div> 	       				         		  			    		
 		</div>	
    </div>
	<div class="row">		
    	<div class="col-sm-offset-1 col-sm-6 hidden-xs hidden-sm">  
     		<%=image_tag 'sixth_big_chair.png', style:'width: 100%', class: ''%> 	    		  	    		
 		</div>
    	<div class="col-sm-5"> 
     		<%=image_tag 'sixth_small_chair.png', style:'position: absolute; top: -90px; left: 270px ;z-index:1; height: 130px', class: ' hidden-xs hidden-sm'%> 	    		  	    		    		  		 
    		<div style="background: #f9f9f9; opacity: 0.6; width: 360px; padding: 10px;">
    		<p class="text-center" style="font-size: 15px;">產品規格</p>
			<dl class="dl-horizontal sixth_list">
			  <dt>產品名稱</dt><dd>智尊椅</dd>
			  <dt>產品型號</dt><dd>HY-8091</dd>
			  <dt>額定電壓</dt><dd>110V</dd>
			  <dt>耗電功率</dt><dd>260W</dd>
			  <dt>噪 音</dt><dd>小於60分貝</dd>			  			  			  			  
			</dl>    
    		<p class="text-center" style="font-size: 15px;">產品規格</p>
			<dl class="dl-horizontal sixth_list">
			  <dt>椅背直立</dt><dd>142（長）x 76（寬）x123（高）</dd>
			  <dt>椅背後仰</dt><dd>142（長）x 76（寬）x123（高）</dd>
			  <dt>淨 重</dt><dd>約126公斤</dd>
			  <dt>主機保固</dt><dd>1年</dd>		  			  			  			  
			</dl> 
			</div> 						
 		</div> 		
    </div>        
</div>
</section>
<section class="seventh_section">
<div class="container-fluid">
	<div class="row" style="margin-top: 110px;">		
    	<div class="col-sm-3 col-sm-offset-2">    	
       		<%=image_tag 'seventh_slogan.png', style:'width:300px', class: ''%>      		 	    		    		
 		</div>		
 	</div>	
	<div class="row" style="margin-top: 80px; height:480px;">	 	
    	<div class="col-sm-8 col-sm-offset-2">
    		<div class="center-block">   
       		<%=image_tag 'seventh_chair_1.png', style:'visibility: hidden; height: 200px; position: absolute; left: 0px;', class: 'seventh_chair_1 hidden-xs '%> 
       		<%=image_tag 'seventh_chair_2.png', style:'visibility: hidden; height: 300px; position: absolute; left: 130px;', class: 'seventh_chair_2 hidden-xs '%> 
       		<%=image_tag 'seventh_chair_3.png', style:'visibility: hidden; height: 380px; position: absolute; left: 340px;', class: 'seventh_chair_3 hidden-xs '%> 
       		<%=image_tag 'seventh_chair_4.png', style:'visibility: hidden; height: 540px; position: absolute; left: 600px;', class: 'seventh_chair_4 hidden-xs '%>
       		</div>      		 	    		
 		</div>
 	</div>	
	<div class="row">	 		
    	<div class="col-sm-3 col-sm-offset-2">	
    		<div>
       		<%=image_tag 'seventh_search.png', style:'', class: 'seventh_search'%>      		 	    		
       		<%=image_tag 'seventh_search_hand.png', style:'position: absolute; left: 260px;', class: 'seventh_search_hand'%>
       		</div>      		 	    		   		    		
 		</div> 	
    	<div class="col-sm-3 col-sm-offset-3 hidden-xs">	
    		<div>
       		<%=image_tag 'seventh_color.png', style:'', class: 'seventh_color pull-left'%>      		 	    		
       		</div>      		 	    		   		    		
 		</div> 	 			
    </div>
</div>
</section>
<section class="eighth_section">
<div class="container-fluid">
	<div class="row">		
    	<div class="col-sm-2">    	 
       		<%=image_tag 'HY_logo.png', style:'', class: 'center-block'%>     		   		
 		</div>
    	<div class="col-sm-8" style="border-left: 2px solid #dedede; margin-top: 5px;">    	 
			<ul class="list-unstyled" style="color: #757575">
			  <li>
			  	<strong>和興國際企業有限公司</strong>
				台北市松山區八德路四段283號 / 新北市五股區新五路二段99-1號 服務專線：0800-001-176 www.message-hy.com.tw	  	
			  </li>
			  <li>
			  	<strong>內湖旗艦店地址：</strong>台北市內湖區行愛路69號  	
				<strong>Tel：</strong>(02)2793-6618#12			  	
			  </li>
			</ul>    		   		
 		</div> 		
    </div>
</div>
</section>
	
<script>
var controller;
$(document).ready(function($) {
	var windowHeight;
	// function to be used to retrieve variable
	function getWindowHeight() {
		return windowHeight;
	}	
	// update window height on resize
	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
	});		
	// init controller
	controller = new ScrollMagic();
	// build scenes
	new ScrollScene({triggerElement: ".second_section"})
								.setTween(TweenMax.to(".sec_figure", 2, {top: "20", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_section"})
								.setTween(TweenMax.from(".third_1_d", 2, {right: "-20", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_section"})
								.setTween(TweenMax.from(".third_2_d", 2, {right: "-140", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_section"})
								.setTween(TweenMax.from(".third_3_d", 2, {right: "-80", ease: Linear.easeNone}))
								.addTo(controller)		
										
	new ScrollScene({triggerElement: ".third_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_slogan", 0, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_slogan_text", 0, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)																
	new ScrollScene({triggerElement: ".third_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_1_d", 0, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)										
	new ScrollScene({triggerElement: ".third_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_d", 0, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)		
	new ScrollScene({triggerElement: ".third_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_3_d", 0, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)								
	new ScrollScene({triggerElement: ".third_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_1", 0, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)									
	new ScrollScene({triggerElement: ".third_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2", 0, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_3", 0, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_back", 0, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)														
	new ScrollScene({triggerElement: ".third_section", duration: '1350', triggerHook: "0.1"})
						.setPin(".third_chair")
						.addIndicators({name: "1 (duration: 1350)"}) // add indicators (requires plugin)
						.addTo(controller);	
						
								
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.4"})
								.setTween(TweenMax.from(".third_2_1_d", 1, {right: "-20", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.4"})
								.setTween(TweenMax.to(".third_2_1_d", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)																																
	new ScrollScene({triggerElement: ".third_2_section"})
								.setTween(TweenMax.to(".third_2_circle", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_2_section"})
								.setTween(TweenMax.to(".third_2_slogan", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_2_section"})
								.setTween(TweenMax.to(".third_2_feet", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_2_section"})
								.setTween(TweenMax.to(".third_2_slogan_text", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
								
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_1_d", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)																																
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_circle", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_slogan", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_feet", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_slogan_text", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)																
								
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_3_r1", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)							
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_3_r2", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_3_r3", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)								
								
								
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_1", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_2", 3, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_3", 4, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_4", 5, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_5", 6, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)		
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_6", 7, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)									
	new ScrollScene({triggerElement: ".fifth_section"})
								.setTween(TweenMax.to(".fifth_circle", 3, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".fifth_section"})
								.setTween(TweenMax.to(".fifth_chair", 2, {right: "-180", ease: Linear.easeNone}))
								.addTo(controller)																				
	new ScrollScene({triggerElement: ".fifth_section"})
		.setTween(TweenMax.fromTo(".fifth_2_outter", 1,
				  {autoAlpha: 1},
				  {autoAlpha: 0, repeat: -1, yoyo: true, ease: Linear.easeNone})).addTo(controller);	
	new ScrollScene({triggerElement: ".sixth_section"})
								.setTween(TweenMax.to(".sixth_1", 3, {top: "110", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".sixth_section"})
								.setTween(TweenMax.to(".sixth_2", 2, {top: "55", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".sixth_section"})
								.setTween(TweenMax.to(".sixth_3", 1, {top: "80", ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".seventh_section"})
								.setTween(TweenMax.to(".seventh_chair_1", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".seventh_section"})
								.setTween(TweenMax.to(".seventh_chair_2", 3, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".seventh_section"})
								.setTween(TweenMax.to(".seventh_chair_3", 5, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".seventh_section"})
								.setTween(TweenMax.to(".seventh_chair_4", 7, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".seventh_section"})
		.setTween(TweenMax.fromTo(".seventh_search_hand", 2,
				  {top: 50},
				  {top: 30, repeat: -1, ease: Linear.easeNone})).addTo(controller);																																																											  																																																																																										
	/*							
	new ScrollScene({triggerElement: ".index_background"})
								.setTween(TweenMax.from(".conditioning", 1.8, {left: "-60", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".index_background"})
								.setTween(TweenMax.from(".experts", 1, {left: "-60", ease: Linear.easeNone}))
								.addTo(controller)																	
	new ScrollScene({triggerElement: ".index_background"})
								.setTween(TweenMax.to(".slogan_first", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller);	
	new ScrollScene({triggerElement: ".index_background"})
								.setTween(TweenMax.to(".slogan_second", 2, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller);	
	new ScrollScene({triggerElement: ".index_background"})
								.setTween(TweenMax.to(".slogan_third", 3, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller);	
	*/																																																															
});	
</script>