<section class="first_section">
<div style="" class="top_menu">
	<%=image_tag 'HY_logo.png', style:'margin-top: 15px;', class: 'center-block'%>   
	<ul class="list-unstyled center-block">
		<li><a href="http://www.massage-hy.com.tw/">官方網站</a></li>
		<li><a href="http://www.massage-hy.com.tw/portal_d3.php?owner_num=d3_164186&button_num=d3">門市資料</a></li>
	</ul>
</div>
<div class="container-fluid">
	<div class="row" style="height: 520px;">	
    	<div class="col-sm-12">	
 			<%=image_tag 'first_slogan.png',   style:'position: absolute; top: 140px; left: 50%; margin-left: -200px; height: 60px;', class: ''%> 
       		<%=image_tag 'seventh_slogan.png', style:'position: absolute; top: 170px; left: 50%; margin-left: -500px; height: 100px', class: ''%>      		 	    		    		    		
			<iframe style="position: absolute; top: 290px; left: 50%; margin-left: -500px; border: 1px solid #6b5431;" width="340" height="200" src="https://www.youtube.com/embed/ZWonggeVxe4" frameborder="0" allowfullscreen></iframe> 				
 			<%=image_tag 'first_man.png', style:'height: 550px; visibility: hidden; position: absolute;  left: 50%; margin-left: 180px; ', class: 'first_man'%> 
 			<div style="color: #ffffff; width: 70px; position: absolute;  left: 50%; margin-left: 500px; top: 340px;">輝葉代言人<br>任&emsp;達&emsp;華</div>
		</div>
    </div>   		    
	<div class="row menu hidden-xs hidden-sm">
        <div class="col-sm-12" id="myScrollspy">
            <ul class="nav nav-pills">
                <li><a href="#third_section">全球唯一雙首創</a></li>
                <li><a href="#third_3_section">六大氣囊</a></li>
                <li><a href="#forth_section">智尊六大功能</a></li>
                <li><a href="#fifth_section">智尊八大模式</a></li>
                <li><a href="#sixth_section">產品規格</a></li>
                <li><a href="#eight_section">聯絡我們</a></li>                
            </ul>
        </div>
    </div>	          
</div>        
</section>
<section class="second_section">	
<div class="container-fluid">
	<div class="row" style="margin-top: 50px;">
    	<div class="col-sm-12">
    		<%=image_tag 'sec_figure.png', style:'height: 450px; position: absolute; top: 0px; left: 50%; margin-left: -400px;', class: 'center-block'%>
    		<div style="position: absolute; top: 0px; left: 50%; margin-left: 90px;" class='sec_figure'>
	    		<div style="width: 400px; margin-top: 70px; font-size: 30px; letter-spacing: 1.9px;">輝葉<span style="font-size: 45px;">30</span>始終關心您的健康</div>
	    		<div style="width: 400px; padding-bottom: 5px;font-size: 16px; letter-spacing: 4px; border-bottom: 1px solid;">一直以來，我們堅持用時間細磨出高端品質</div>
	    		<div style="width: 400px; margin-top: 10px; font-size: 13px; letter-spacing: 4px; line-height: 24px;" class="">
	    		自民國72年創立以來，即以「 帶給人們更健康的生活 」為目標，不斷精進服務品質與技術，有別於一般健康器材品牌，採全直營方式銷與消費者做最直接的互動，聆聽每位客戶最深層的需求。期盼給您最親切專業的服務體驗，並與您一同邁向健康的人生！
	 			</div>
 			</div>
 		</div>
    </div>
</div>
</section>
<section class="third_section" id="third_section">
<div class="container-fluid">
	<div class="row third_1_row" style="margin-top: 110px;">		
    	<div class="col-sm-12">
    		<%=image_tag 'third_slogan.png', style:'z-index:1; height: 60px; position: absolute; left: 50%; margin-left: -500px;', class: 'third_slogan'%>
    		<div class="third_slogan_text" style="position: absolute; top: 65px; left: 50%; margin-left: -500px; width: 360px; color:#774718; font-size: 34px; font-weight: bold; letter-spacing: 3px;">智能穴位按摩技術<span style="font-weight: normal">＞</span></div>
    		<div style="z-index:1; position: absolute; top: 130px; left: 50%; margin-left: -550px;" >        					
    			<div class="third_descrip third_1_d" style="width: 250px; position: relative; right: -80px;">
    			<div class="third_descrip_title">人性化穴位感應系統</div>
    			<div class="third_descrip_cont">利用光學感應器，可準確探測身體的各大按摩穴位，其中獨特的自動檢測及微調功能，更能自動感應、依您的身體S曲線做個人化調整。</div>    			
    			</div>
			</div>    		  		
    		<%=image_tag 'third_back.png',  style:'position: absolute; top: 300px; height: 220px; left: 50%; margin-left: -470px;', class: 'third_back'%> 	    		
    		<%=image_tag 'third_chair.png', style:'z-index:0; height: 470px; position: absolute; top: 60px; left: 50%; margin-left: -250px;', class: 'third_chair'%>		
    		<div style="position: absolute; top: 0px; left: 50%; margin-left: 180px;">
    			<div class="third_descrip third_2_d" style="display: inline-block; width: 250px; position: relative; right: -90px;">
    			<div class="third_descrip_title">創新提抓技術</div>
    			<div class="third_descrip_cont">獨特按摩手法的關鍵在於：針對肩頸，先往前拉提，再向下推壓；不同於一般按摩椅，智尊椅獨有的下壓勁道更使得真人提抓按摩的舒暢感得以重現，讓您在家就能夠享受大師級的按摩手法與技術。</div>    			
    			</div>  
    		</div>
    		<div style="position: absolute; top: 210px; left: 50%; margin-left: 240px;">
    			<div class="third_descrip third_3_d" style="display: inline-block; width: 340px;">
    			<div class="third_descrip_title">背部按摩範圍+20%</div>
    			<div class="third_descrip_cont">可全面覆蓋人體背部，從肩頸、胸椎到腰椎，比傳統的背部按摩範圍增加20%以上，可滿足各類體型的人士使用，讓您充分享受專屬於您的按摩理療程式。</div>    			
    			</div>
    		</div>	    		    		
    		<%=image_tag 'third_1.png', style:' position: absolute; top: 370px; height: 100px; left: 50%; margin-left: 240px;', class: 'third_1'%>	
     		<%=image_tag 'third_2.png', style:' position: absolute; top: 370px; height: 100px; left: 50%; margin-left: 360px;', class: 'third_2'%>
     		<%=image_tag 'third_3.png', style:' position: absolute; top: 370px; height: 100px; left: 50%; margin-left: 480px;', class: 'third_3'%>	  		
 		</div> 			  	 				
    </div>
</div>
</section>
<section class="third_2_section">
<div class="container-fluid">
	<div class="row">
    	<div class="col-sm-12">
    		<%=image_tag 'third_2_slogan.png', style:'position: absolute; top: 0px; height: 60px; left: 50%; margin-left: -500px;', class: 'third_2_slogan'%>
    		<div class="third_2_slogan_text" style="position: absolute; left: 50%; margin-left: -500px; top: 65px; width: 380px; color:#774718; font-size: 33px; font-weight: bold; letter-spacing: 3px;">360°全包覆足底按摩<span style="font-weight: normal">＞</span></div>    			
    		<div class="third_descrip third_2_1_d" style="position: absolute; top: 130px;  left: 50%; margin-left: -480px; display: inline-block; width: 250px;">
    			<div class="third_descrip_cont">以真人手感結合先進滾輪技術，提供專業按摩師般的刮痧按摩方式，對足底湧泉穴進行按摩，無論是輕柔穩定或是漸進是強力按摩，都能帶來前所未有的舒適和暢快。並針對腿部採氣囊加強，形狀各異的氣囊完整包覆小腿、腳踝及足部，對足三里穴、太溪穴、崑崙進行按摩、壓緊、停頓、放鬆的交互氣壓動做按摩方式，讓您到通體順暢，天人合一的境界。</div>    			
    		</div> 			
    		<%=image_tag 'third_2_circle.png', style:'position: absolute; top: 0px; left: 50%; margin-left: 300px; height: 220px;', class: 'third_2_circle'%>
    		<div class="third_2_feet" style="position: absolute; top: 300px; left: 50%; margin-left: 230px;">
    		<%=image_tag 'third_2_feet_1.png', style:'position: absolute; height: 160px;', class: ''%>
    		<%=image_tag 'third_2_feet_2.png', style:'position: absolute; height: 160px; left: 160px;', class: ''%>
			</div>
 		</div>
    </div>
</div>
</section>
<section class="third_3_section" id="third_3_section">
<div class="container-fluid">
	<div class="row third_3_r1" style="height: 500px; visibility: hidden; margin-top: 100px;">			
    	<div class="col-sm-12" style=""> 
    		<div style="position: absolute; left: 50%; margin-left: -500px; width: 340px; color:#774718; font-size: 35.5px; font-weight: bold; letter-spacing: 3px;">全新氣囊按壓技術<br>全身氣壓徹底包覆</div>    		    		    		    		
    		<%=image_tag 'third_3_c1.png', style:'position: absolute; top: 270px; left: 50%; margin-left: -350px;', class: ''%> 		
    		<%=image_tag 'third_3_c2.png', style:'position: absolute; top: 170px; left: 50%; margin-left: -250px;', class: ''%> 		
    		<%=image_tag 'third_3_c3.png', style:'position: absolute; top: 10px; left: 50%; margin-left: -100px;', class: ''%>       		
    		<%=image_tag 'third_3_c4.png', style:'position: absolute; top: 0px; left: 50%; margin-left: 250px;', class: ''%> 		
    		<%=image_tag 'third_3_c5.png', style:'position: absolute; top: 200px; left: 50%; margin-left: 300px;', class: ''%> 		
    		<%=image_tag 'third_3_c6.png', style:'position: absolute; top: 340px; left: 50%; margin-left: 250px;', class: ''%>  
    		<%=image_tag 'third_3_text.png', style:'position: absolute; top: 450px;  left: 50%; margin-left: -500px; width: 200px', class: ''%> 		        	
    		<%=image_tag 'third_3_circle.png', style:'position: absolute; top: 500px; width: 500px; left: 50%; margin-left: -500px;', class: ''%> 	
    		<%=image_tag 'third_3_star.png', style:'position: absolute; top: 500px; width: 450px; left: 50%; margin-left: 160px;', class: ''%> 	    		    		  				 		
 		</div> 	 		
    </div>			
</div>
</section>
<section class="forth_section" id="forth_section">
<div class="container-fluid">
	<div class="row" style="margin-top: 180px;">		
    	<div class="col-sm-12">    		
    		<div class="center-block" style="width: 550px; letter-spacing:4px; color:#ffffff; font-size: 30px; line-height: 36px; text-align: center;">從頭頂至腳底<br>充分滿足你對按摩的美好想像</div>
    		<%=image_tag 'forth_circle.png', style:'height: 400px;', class: 'center-block'%> 
    		<%=image_tag 'forth_1.png', style:'visibility: hidden; height: 300px; position: absolute; top: 0px; left: 50%; margin-left: -450px;', class: 'forth_1'%> 	 		
    		<%=image_tag 'forth_2.png', style:'visibility: hidden; height: 300px; position: absolute; top: 320px; left: 50%; margin-left: -410px;', class: 'forth_2'%>     				
    		<%=image_tag 'forth_3.png', style:'visibility: hidden; height: 240px; position: absolute; top: 430px; left: 50%; margin-left: -190px;', class: 'forth_3'%> 
    		<%=image_tag 'forth_4.png', style:'visibility: hidden; height: 245px; position: absolute; top: 430px; left: 50%; margin-left: 10px;', class: 'forth_4'%>    	
			<%=image_tag 'forth_5.png', style:'visibility: hidden; height: 240px; position: absolute; top: 320px; left: 50%; margin-left: 200px;', class: 'forth_6'%>    		 		 		
			<%=image_tag 'forth_6.png', style:'visibility: hidden; height: 300px; position: absolute; top: 0px; left: 50%; margin-left: 270px;', class: 'forth_5'%> 		
 		</div>
    </div>
</div>
</section>
<section class="fifth_section" id="fifth_section">
<div class="container-fluid">
	<div class="row" style="margin-top: 150px;">	
    	<div class="col-sm-12">   			
	    	<div style="position: absolute; top: 40px; left: 50%; margin-left: -420px; background: #f7f2e9; border-radius: 25px; padding: 10px; width: 840px">    	
	     		<%=image_tag 'fifth_circle.png', style:'visibility: hidden;', class: 'center-block fifth_circle'%> 	
	 		</div> 
	    	<div style="position: absolute; top: 150px; left: 50%; margin-left: -200px; width: 400px; color:#774718; font-size: 36px; font-weight: bold; letter-spacing: 3px;">智尊專屬APP<span style="font-weight: normal">＞</span></div>    			
     		<%=image_tag 'fifth_chair.png', style:'position: absolute; top: 210px; left: 50%; margin-left: -500px; z-index:1; width: 400px;', class: 'fifth_chair hidden-xs hidden-sm'%> 		 	
     		<%=image_tag 'fifth_living.png', style:'position: absolute; top: 220px; left: 50%; margin-left: -350px; z-index:0; width: 700px;', class: 'center-block hidden-xs hidden-md'%> 	  	
     		<%=image_tag 'iphone.png', style:'position: absolute; top: 180px; left: 50%; margin-left: 280px; ', class: 'hidden-xs hidden-sm'%> 	
    		<div style='position: absolute; top: 400px; left: 50%; margin-left: 100px; width: 180px;'>
    		<%=image_tag 'fifth_1_inner.svg', style: 'min-width: 150px; position: absolute; left: 15px; top: 15px;'%> 
    		<%=image_tag 'fifth_2_outter.svg', style: 'visibility: hidden; min-width: 180px;', class: 'fifth_2_outter'%>    
    		</div> 		
    		<div style='position: absolute; top: 400px; left: 50%; margin-left: 300px; width: 180px;'>  		   		
    		<%=image_tag 'fifth_2_inner.svg', style: 'min-width: 150px; position: absolute; left: 15px; top: 15px;'%>
    		<%=image_tag 'fifth_2_outter.svg', style: 'visibility: hidden; min-width: 180px;', class: 'fifth_2_outter'%>    		
 			</div> 		
 		</div> 		
    </div>          
</div>
</section>
<section class="sixth_section" id="sixth_section">
<div class="container-fluid">
	<div class="row" style="margin-top: 200px;">		
    	<div class="col-sm-12">  
    		<div style="color: #ffffff; font-size: 40px; position: absolute; top: 0px; left: 50%; margin-left: -500px; ">智慧首席 尊榮體驗</div>  	    			   
       		<div style="width: 150px; position: absolute; top: 0px; left: 50%; margin-left: -500px; " class="sixth_1">
       			<div class="sixth_slogan_s">超纖皮革 極佳觸感</div><br>
       			<%=image_tag 'sixth_1.png', style:'', class: ''%>
       		</div> 	       		
       		<div style="width: 150px; position: absolute; top: 0px; left: 50%; margin-left: -300px; " class="sixth_2">
       			<div class="sixth_slogan_s">流線外型 時尚出色</div><br>       		    		  	    		
       			<%=image_tag 'sixth_2.png', style:'', class: ''%> 	  
       		</div> 	 			
       		<div style="width: 150px; position: absolute; top: 0px; left: 50%; margin-left: -60px; " class="sixth_3">
       			<div class="sixth_slogan_s">負氧離子 清淨健康</div><br>      		
       			<%=image_tag 'sixth_3.png', style:'', class: ''%> 
       		</div> 	       				         		  			    			 
     		<%=image_tag 'sixth_big_chair.png', style:'width: 700px; position: absolute; top: 150px; left: 50%; margin-left: -500px; ', class: ''%> 	    		  	    		
     		<%=image_tag 'sixth_small_chair.png', style:'position: absolute; top: 100px; left: 50%; margin-left: 450px ;z-index:1; height: 130px', class: ''%> 	    		  	    		    		  		 
    		<div style="position: absolute; top: 150px; left: 50%; margin-left: 100px; background: #f9f9f9; opacity: 0.6; width: 450px; padding: 10px;">
    		<p class="text-center" style="font-size: 15px;">產品規格</p>
			<dl class="dl-horizontal sixth_list">
			  <dt>產品名稱</dt><dd>智尊椅</dd>
			  <dt>產品型號</dt><dd>HY-8091</dd>
			  <dt>額定電壓</dt><dd>110V</dd>
			  <dt>耗電功率</dt><dd>260W</dd>
			  <dt>噪 音</dt><dd>小於60分貝</dd>			  			  			  			  
			</dl>    
    		<p class="text-center" style="font-size: 15px;">產品規格</p>
			<dl class="dl-horizontal sixth_list">
			  <dt>椅背直立</dt><dd>142（長）x 76（寬）x123（高）</dd>
			  <dt>椅背後仰</dt><dd>142（長）x 76（寬）x123（高）</dd>	  			  			  			  
			</dl> 
			</div> 						
 		</div> 		
    </div>        
</div>
</section>
<section class="seventh_section">
<div class="container-fluid">
	<div class="row" style="margin-top: 100px;">		
    	<div class="col-sm-12">    	
       		<%=image_tag 'seventh_slogan.png', style:'position: absolute; top: 0px; left: 50%; margin-left: -500px; width:300px', class: ''%>      		 	    		    		
    		<div style="position: absolute; top: 150px; left: 50%; margin-left: -500px; ">   
       		<%=image_tag 'seventh_chair_1.png', style:'visibility: hidden; height: 200px; position: absolute; left: 0px;', class: 'seventh_chair_1'%> 
       		<%=image_tag 'seventh_chair_2.png', style:'visibility: hidden; height: 300px; position: absolute; left: 120px;', class: 'seventh_chair_2'%> 
       		<%=image_tag 'seventh_chair_3.png', style:'visibility: hidden; height: 380px; position: absolute; left: 330px;', class: 'seventh_chair_3'%> 
       		<%=image_tag 'seventh_chair_4.png', style:'visibility: hidden; height: 540px; position: absolute; left: 585px;', class: 'seventh_chair_4'%>
       		</div>      		 	    		
    		<div style=" position: absolute; top: 600px; left: 50%; margin-left: -500px; ">
       		<a href="http://www.massage-hy.com.tw/portal_d3.php?owner_num=d3_164186&button_num=d3"><%=image_tag 'seventh_search.png', style:'width: 310px;', class: 'seventh_search'%></a>      		 	    		
       		<%=image_tag 'seventh_search_hand.png', style:'position: absolute; left: 270px; height: 50px;', class: 'seventh_search_hand'%>
       		</div>      		 	    		   		    			
    		<div style="position: absolute; top: 620px; left: 50%; margin-left: 200px; ">
       		<%=image_tag 'seventh_color.png', style:'height: 24px;', class: 'seventh_color pull-left'%>      		 	    		
       		</div>      		 	    		   		    		
 		</div> 	 			
    </div>
</div>
</section>
<section class="eighth_section" id="eight_section">
<div class="container-fluid">
	<div class="row">		
    	<div class="col-sm-2 col-sm-offset-2">    	 
       		<%=image_tag 'HY_logo.png', style:'', class: 'center-block'%>     		   		
 		</div>
    	<div class="col-sm-8" style="border-left: 2px solid #dedede; margin-top: 5px;">    	 
			<ul class="list-unstyled" style="color: #757575">
			  <li>
			  	<strong>內湖旗艦店：</strong>台北市內湖區行愛路69號  	
				<strong>Tel：</strong>(02)2793-6618#12			  	
			  </li>
			</ul>    		   		
 		</div> 		
    </div>
</div>
</section>
	
<script>
var controller;
$(document).ready(function($) {
	var windowHeight;
	// function to be used to retrieve variable
	function getWindowHeight() {
		return windowHeight;
	}	
	// update window height on resize
	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
	});		
	// init controller
	controller = new ScrollMagic();
	// build scenes
	new ScrollScene({triggerElement: ".first_section"})
								.setTween(TweenMax.to(".first_man", 3, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)		
	new ScrollScene({triggerElement: ".second_section"})
								.setTween(TweenMax.from(".sec_figure", 2, {top: "70", ease: Linear.easeNone}))
								.addTo(controller)
	/*					
	new ScrollScene({triggerElement: ".third_section"})
								.setTween(TweenMax.from(".third_1_d", 1, {left: "0", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_section"})
								.setTween(TweenMax.from(".third_2_d", 1, {left: "100", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_section"})
								.setTween(TweenMax.from(".third_3_d", 1, {left: "100", ease: Linear.easeNone}))
								.addTo(controller)		
    */																	
	
	new ScrollScene({triggerElement: ".third_section", duration: '400', triggerHook: "0.1"})
						.setPin(".third_slogan")
						.addIndicators({name: "1 (duration: 300)"}) // add indicators (requires plugin)
						.addTo(controller);	
	new ScrollScene({triggerElement: ".third_section", duration: '400', triggerHook: "0.1"})
						.setPin(".third_slogan_text")
						.addIndicators({name: "2 (duration: 300)"}) // add indicators (requires plugin)
						.addTo(controller);	
	new ScrollScene({triggerElement: ".third_section", duration: '400', triggerHook: "0.1"})
						.setPin(".third_1_d")
						.addIndicators({name: "3 (duration: 300)"}) // add indicators (requires plugin)
						.addTo(controller);	
	new ScrollScene({triggerElement: ".third_section", duration: '400', triggerHook: "0.1"})
						.setPin(".third_2_d")
						.addIndicators({name: "4 (duration: 300)"}) // add indicators (requires plugin)
						.addTo(controller);								
	new ScrollScene({triggerElement: ".third_section", duration: '400', triggerHook: "0.1"})
						.setPin(".third_3_d")
						.addIndicators({name: "5 (duration: 300)"}) // add indicators (requires plugin)
						.addTo(controller);	
	new ScrollScene({triggerElement: ".third_section", duration: '400', triggerHook: "0.1"})
						.setPin(".third_1")
						.addIndicators({name: "6 (duration: 300)"}) // add indicators (requires plugin)
						.addTo(controller);							
	new ScrollScene({triggerElement: ".third_section", duration: '400', triggerHook: "0.1"})
						.setPin(".third_2")
						.addIndicators({name: "7 (duration: 300)"}) // add indicators (requires plugin)
						.addTo(controller);							
	new ScrollScene({triggerElement: ".third_section", duration: '400', triggerHook: "0.1"})
						.setPin(".third_3")
						.addIndicators({name: "8 (duration: 300)"}) // add indicators (requires plugin)
						.addTo(controller);	
	new ScrollScene({triggerElement: ".third_section", duration: '400', triggerHook: "0.1"})
						.setPin(".third_back")
						.addIndicators({name: "9 (duration: 300)"}) // add indicators (requires plugin)
						.addTo(controller);																														
																										
	new ScrollScene({triggerElement: ".third_section", duration: '2300', triggerHook: "0.1"})
						.setPin(".third_chair")
						.addIndicators({name: "10 (duration: 2500)"}) // add indicators (requires plugin)
						.addTo(controller);	
						
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.8"})
								.setTween(TweenMax.to(".third_slogan", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.8"})
								.setTween(TweenMax.to(".third_slogan_text", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)																
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.8"})
								.setTween(TweenMax.to(".third_1_d", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)										
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.8"})
								.setTween(TweenMax.to(".third_2_d", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)		
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.8"})
								.setTween(TweenMax.to(".third_3_d", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)								
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.8"})
								.setTween(TweenMax.to(".third_1", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)									
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.8"})
								.setTween(TweenMax.to(".third_2", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.8"})
								.setTween(TweenMax.to(".third_3", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.8"})
								.setTween(TweenMax.to(".third_back", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)							
													
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_2_1_d", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)																																
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_2_circle", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_2_slogan", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_2_feet", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_2_slogan_text", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
		
	new ScrollScene({triggerElement: ".third_2_section", duration: '800', triggerHook: "0.3"})
						.setPin(".third_2_1_d")
						.addIndicators({name: "11 (duration: 100)"}) // add indicators (requires plugin)
						.addTo(controller);
	new ScrollScene({triggerElement: ".third_2_section", duration: '800', triggerHook: "0.3"})
						.setPin(".third_2_circle")
						.addIndicators({name: "11 (duration: 100)"}) // add indicators (requires plugin)
						.addTo(controller);
	new ScrollScene({triggerElement: ".third_2_section", duration: '800', triggerHook: "0.3"})
						.setPin(".third_2_slogan")
						.addIndicators({name: "11 (duration: 100)"}) // add indicators (requires plugin)
						.addTo(controller);
	new ScrollScene({triggerElement: ".third_2_section", duration: '800', triggerHook: "0.3"})
						.setPin(".third_2_feet")
						.addIndicators({name: "11 (duration: 100)"}) // add indicators (requires plugin)
						.addTo(controller);																								
	new ScrollScene({triggerElement: ".third_2_section", duration: '800', triggerHook: "0.3"})
						.setPin(".third_2_slogan_text")
						.addIndicators({name: "11 (duration: 100)"}) // add indicators (requires plugin)
						.addTo(controller);									
								
/*								
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_1_d", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)																																
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_circle", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_slogan", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_feet", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".third_2_section", triggerHook: "0.1"})
								.setTween(TweenMax.to(".third_2_slogan_text", 1, {autoAlpha: 0, ease: Linear.easeNone}))
								.addTo(controller)																
*/								
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_3_r1", 2, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)							
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_3_r2", 2, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_3_section"})
								.setTween(TweenMax.to(".third_3_r3", 2, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)								
								
								
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_1", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_2", 2, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_3", 3, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_4", 4, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_5", 5, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)		
	new ScrollScene({triggerElement: ".forth_section"})
								.setTween(TweenMax.to(".forth_6", 6, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)									
	new ScrollScene({triggerElement: ".fifth_section"})
								.setTween(TweenMax.to(".fifth_circle", 3, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	//new ScrollScene({triggerElement: ".fifth_section"})
	//							.setTween(TweenMax.from(".fifth_chair", 2, {left: "50%", ease: Linear.easeNone}))
	//							.addTo(controller)																				
	new ScrollScene({triggerElement: ".fifth_section"})
		.setTween(TweenMax.fromTo(".fifth_2_outter", 1,
				  {autoAlpha: 1},
				  {autoAlpha: 0, repeat: -1, yoyo: true, ease: Linear.easeNone})).addTo(controller);	
	new ScrollScene({triggerElement: ".sixth_section"})
								.setTween(TweenMax.to(".sixth_1", 3, {top: "130", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".sixth_section"})
								.setTween(TweenMax.to(".sixth_2", 2, {top: "90", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".sixth_section"})
								.setTween(TweenMax.to(".sixth_3", 1, {top: "35", ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".seventh_section"})
								.setTween(TweenMax.to(".seventh_chair_1", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".seventh_section"})
								.setTween(TweenMax.to(".seventh_chair_2", 2, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".seventh_section"})
								.setTween(TweenMax.to(".seventh_chair_3", 3, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".seventh_section"})
								.setTween(TweenMax.to(".seventh_chair_4", 4, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)	
	new ScrollScene({triggerElement: ".seventh_section"})
		.setTween(TweenMax.fromTo(".seventh_search_hand", 2,
				  {top: 55},
				  {top: 40, repeat: -1, ease: Linear.easeNone})).addTo(controller);																																																											  																																																																																										
	/*							
	new ScrollScene({triggerElement: ".index_background"})
								.setTween(TweenMax.from(".conditioning", 1.8, {left: "-60", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".index_background"})
								.setTween(TweenMax.from(".experts", 1, {left: "-60", ease: Linear.easeNone}))
								.addTo(controller)																	
	new ScrollScene({triggerElement: ".index_background"})
								.setTween(TweenMax.to(".slogan_first", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller);	
	new ScrollScene({triggerElement: ".index_background"})
								.setTween(TweenMax.to(".slogan_second", 2, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller);	
	new ScrollScene({triggerElement: ".index_background"})
								.setTween(TweenMax.to(".slogan_third", 3, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller);	
	*/																																																																
});	
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 3000);
        return false;
      }
    }
  });
});
</script>