<!DOCTYPE html>
<html>
<head>
  <title>輝葉智尊椅 The Legend</title>
  <%= favicon_link_tag 'HY.png' %>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- Google &A??%N? -->
<!--------------------------------------------------
&A??%N?$#1oIO?$H(-%w+H.',[??!A$]$#1o)q8m&bIO1S7P??,[?*:JI?$W!C&3?&p&s?8m%N?*:??+H.')M?)z!A???!Ghttp://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 957839649;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/957839649/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
</html>
